
$bg_darker: #e5e7e7;
$dark_blue: #25313d;
$darkest_blue: #1b252e;

$light_blue: #9aafc2;
$light_blue_highlighted: #e1e9f0;
$border_blue: #3a4754;

$salmon: #f96c5f;
$salmon_border: #e65f53;
$salmon_border_dark: #d7564b;

// $aqua: #4db4ca;
$aqua: #58b4c7;
$aqua_border: #3b95a9;
$aqua_muted: #69afbd;
// $aqua_muted2: 62afbf


// Greys
$gray-lightest: #F6F7F7;
$gray-lighter: #F0F1F1; 
$gray-light: #D1D1D1; 
$gray-midlight: #BDBDBD;
$gray-mid: #878787;
$gray-dark: #505050;
$gray-darkest: #202020;

// Orig (zac) greys
$bg_gray: #f1f2f2;
$background-gray: #f1f1f1;
$border-gray: #ddd;
$gray: #D1D1D1;
$gray-text: #949494;
$panel-gray: #FAFBFB;

$brand-primary:         $aqua;
$brand-success:         #5cb85c !default;
$brand-info:            $salmon;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
