@mixin tinyShadow() { // tiny hint of depth
  box-shadow: 0.5px 0.5px 1px 0 rgba(0,0,0,0.08);
}
@mixin flatShadow() {
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.15);
}
@mixin materialShadow() {
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.18);
}
@mixin materialShadow2() {
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.28);
}
@mixin materialShadow3() {
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.40);
}

@mixin defaultButton() {
  margin: 12.5px 13px;
  padding: 10px 12px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #505050;
  border-radius: 2px;
}

@mixin centerChildren() {
	// center child elems horizontally and vertically
	display: flex; 
  justify-content: center;
  align-items: center; 
}