// Navbar
$navbar_height: 60px;
// Search Form
$search_bar_height: 67px;
// Alerts
$alerts_sidebar_width: 330px;
$alerts_body_minwidth: 935px;
// Results
$results_sidebar_width: 339px;
$results_body_minwidth: 935px;
// Results Sidebar
$sidebar_source_item_height: 27px;
// Editing
$edit_panel_min_height: 275px;