@import 'colors';
@import 'layouts';

@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendors/ReactSelect";
@import "vendors/ReactDatePicker";

input.form-control {
  color: black;
  &:focus {
    border-color: $aqua !important;
  }
}

@import 'mixins';

body {
  background: $gray-lighter;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.site {
  // padding-top: 60px;
  font-size: 10px;
  letter-spacing: .1rem;
  -webkit-font-smoothing: antialiased;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 0.01em;
}

.siteContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loadingScreen {
  text-align: center;
  font-size: 1.7rem;
}

.searchPage {
  .advancedSearch {
    max-width: 950px;
  }
}

.page {
  margin: auto;
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
}
